
*{	
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	width: 100%;
}

body {
	margin: 0px;
	background-image: url('IMGS/BGs/home_bg.jpg');
	background-size: 100%;
}


.nav_wrapper {
	display: flex;
	align-items: baseline;
	align-items: center;
	justify-content: space-between;
	padding: 80px;
	font-family: 'Poppins', sans-serif;
}


.lefside {
	display: flex;
	font-family: 'Poppins', sans-serif;
}

.rightside {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.leftside a {
	text-transform: uppercase;
	color: #EBEBEB;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 1.5em;
}

.rightside a {
	color: #EBEBEB;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 1.5em;
}



.rightside a:hover {
	color: #a6cf7e;
	transition: 0.5s;
}

.leftside a:hover {
	color: #a6cf7e;
	transition: 0.5s;
}

.cropper {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 35%;
	top: 25%;
	border-radius: 50%;
	border: 5px solid #EBEBEB;
}

.profile_pic {
	display: inline;
	margin: 0 auto;
	margin-left: -25%;
	height: 100%;
	width: auto; 
}

.cropper:hover {
	border-color: #a6cf7e;
	transition: 0.5s;
}



.nav_wrapper > .leftside > span {
	font-size: 1.1em;
}

.burger{
	display: none;
}

.burger div{
	width: 25px;
	height: 2px;
	margin: 5px;
	background-color: #EBEBEB;
	transition: all 0.5s ease;
}


.social_media_list{
	display: flex;
	justify-content: center;
	list-style: none;
	justify-content: space-around;
	width: 100%;
	top: 90%;
	height:50px;
}

ion-icon {
  font-size: 40px;
  color: #EBEBEB;
}

ion-icon:hover {
  color: #a6cf7e;
  transition: 0.5s;
}




@media screen and (max-width:1024px){
	.rightside{
		width: 50%;
	}
	ion-icon {
		font-size: 16px;
	}

}



@media screen and (max-width:768px){

	body{
		overflow-x: hidden;
	}

	ion-icon {
		font-size: 8px;
	}

	.rightside{
		position: absolute;
		 right: 0px;
		 height: 80px;
		 top: 160px;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 transform: translateX(100%);
		 transition: transform 0.5s ease-in;
	}

	.rightside a{
		align-self: center;
		text-align: right;
		opacity: 0 1;
		transition: opacity 4s ease-in;
	}

	.burger{
		display: block;
		cursor: pointer;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes rightsideFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-5px);	
}